/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* You can add global styles to this file, and also import other style files */
.form-container {
  max-width: 400px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.button-group {
  margin-top: 30px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

.disabled-button {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

label {
  display: block;
  font-weight: bold;
}

input,
textarea,
select {
  width: 95%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

select {
  width: 100%;
}

a {
  margin-left: 15px;
  color: #4caf50;
  text-decoration: none;
}

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 25px; /* Add some space for the checkbox */
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

/* Hide the default checkbox input */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* On mouse-over, add a gray background color */
.custom-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, style the checkmark */
.custom-checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark using a pseudo-element (before pseudo-element) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when the checkbox is checked */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark (the tick/marker) */
.custom-checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
